h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.header-contents h1 {
    font-size: 120px;
    font-weight: 300;
}

.desc {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  border: 4px solid #8FE4EB;
}

textarea {
  height: 300px;
  width: 750px;
}
